
      <div class="album py-5 bg-light">
<div class="container">
    <div class="row">

<form>
		<fieldset class="form-group">
			<label for="formGroupExampleInput">Имя</label>
			<input name="firstname" type="text" class="form-control" placeholder="Имя">
		</fieldset>
	
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">Фамилия</label>
			<input name="lastname" type="text" class="form-control" placeholder="Фамилия">
		</fieldset>
	
	<fieldset class="form-group">
		<label for="exampleInputEmail1">Email</label>
		<input name="email" type="email" class="form-control" placeholder="Введите email">
		<!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
	</fieldset>
	
	<fieldset class="form-group">
		<label for="exampleInputPassword1">Пароль</label>
		<input type="password" class="form-control" placeholder="Enter email">
	</fieldset>

	<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

    </div>
</div>
</div>